body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #031321;
  background-image: url("https://thumbs.gfycat.com/IllPlasticBuzzard-size_restricted.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-origin: content-box;
  font-family: consolas;
  flex-direction: column;
  flex-direction: row;
  overflow-y: auto;
}
a{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
a:hover{
  color: #255784;
  background:#e45d4e;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.3s;
}
a span{
  position: absolute;
  display: block;
}
a span:nth-child(1)  {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3);
}
a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);
}
a:hover span:nth-child(3) {
  left: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);
}
a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3);
}
a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
h1 {
  color:gray;
  size: 30px;
  margin-top: center;
  margin-left: center;
  bottom: 50%;

}
.tweet-1{
  background: white;
  height:200px;
  width:200px;
}
.img-tweet{
  border-radius: 10px;
  height: 50px;
  width:50px;
}
h4{
  font-size:10px;
    color:gray;
  }
}